body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   margin-top: 5%;
   margin-left: 10%;
   margin-right: 10%;
}

.image {
    width: 100%;
}

.config-body {
    width: 100%;
    margin-left: 50px;
}
h4 {
    margin: 5px;
}
h5 {
    margin:0;
    display: inline;
}

button {
    padding: 10px;
    margin-left: 5px;
    margin-top: 10px;
    border: 2px solid gray;
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
}
button:hover {
    background-color: rgb(97, 90, 90);
    color: white;
}

.part2 {
  margin-bottom: 30px;
}
.part3 {
  margin-bottom: 30px;
}
.part4 {
  margin-bottom: 30px;
}
.part5 {
  margin-bottom: 30px;
  width: 84%;
}
.part6>p {
    margin: 0;
}
.best-price{
    padding-right: 151px;
}
.memory-cost {
    padding-right: 70px;
}
.storage-cost {
    padding-right: 78px;
}
.delivery-cost {
    padding-right: 92px;
}
.total-price {
    padding-right: 150px
}

input {
    padding: 10px;
    border-radius: 5px;
}
#promo-code {
    background-color: white;
    color: black;
}
#promo-code:hover {
    color: white;
    background: rgb(207, 40, 40);
}

.bottom-total {
    text-align: center;
    border-top: 1px solid gray;
    margin-left: 5%;
    margin-right: 5%;
}

@media only screen and (max-width:800px) {
    .container {
        display: inline;
    }
    button {
        margin-top: 20px;
    }
}